@model CategoryNavigationViewModel

@using Newtonsoft.Json;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Web;
@using Ucommerce.Sitefinity.UI.Mvc.Model;
@using Ucommerce.Sitefinity.UI.Mvc.ViewModels;

@Html.StyleSheet(Url.WidgetContent("assets/src/css/uc-vue-styles.css"), "head")
@Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/Bootstrap4/assets/dist/css/main.min.css"), "head")

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

<div data-component="category-navigation" id="@Html.UniqueId("categories")" v-cloak>
    <script type="application/json" data-items="true">
        { "items" : @Html.Raw(JsonConvert.SerializeObject(Model.Categories)) }
    </script>
    <header class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-lg mb-0">
                    <a href="/" class="navbar-brand" alt="">
                        <img src="@Model.ImageUrl" width="40" height="40" class="d-inline-block align-top" alt="">
                    </a>
                    @if (Model.Categories.Count > 0)
                    {
                        <dropdown-menu :nodes="items" :is-root="true"></dropdown-menu>
                    }
                    <ul class="navbar-nav">
                        @if (Model.AllowChangingCurrency && Model.Currencies.Count > 0)
                        {
                            var currencies = JsonConvert.SerializeObject(Model.Currencies);
                            var currentCurrency = JsonConvert.SerializeObject(Model.CurrentCurrency);
                            <currency-selector :serialized-currencies="'@currencies'" :serialized-current-currency="'@currentCurrency'" :root-id="$el.id" inline-template>
                                <li class="nav-item ml-4 mr-4">
                                    <a class="nav-link h4" v-on:click="toggleCurrenciesVisibility">
                                        <span style="display: inline-block;">{{currentCurrency.DisplayName}}</span><i class="glyphicon glyphicon-menu-down"></i>
                                    </a>
                                    <ul class="navbar-nav dropdown" v-show="showCurrencies">
                                        <li class="nav-item ml-4 mr-4" v-for="currency in currencies">
                                            <a href="javascript:void(0)" class="nav-link h4" v-on:click="setCurrency(currency.PriceGroupId)">
                                                <span>{{currency.DisplayName}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </currency-selector>
                        }

                        <li class="nav-item ml-4 mr-4" v-on:click="toggleSearchBar()"><a class="nav-link h4" href="javascript:void(0)"><i class="glyphicon glyphicon-search">Open Search</i></a></li>

                    </ul>
                </nav>
            </div>
        </div>

        @foreach (var route in Model.Routes)
        {
            <input type="hidden" class="@route.Key" value="@route.Value" />
        }

        <div v-show="showSearchBar">
            <search :search-page-url="'@UrlPath.ResolveAbsoluteUrl(Model.SearchPageUrl)'" :root-id="$el.id" v-on:close-search="closeSearch" inline-template>
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <button class="close" aria-label="Close" v-on:click="$emit('close-search')"><i aria-hidden="true" class="glyphicon glyphicon-remove p-3">Close Search</i></button>

                        <div class="bg-white shadow-lg p-3 rounded">

                            <form v-if="searchPageUrl !== ''" v-bind:action="searchPageUrl" class="input-group" _lpchecked="1">
                                <input type="text" autocomplete="off" v-model="searchQuery" focus v-on:input="search()" v-on:keyup.escape="$emit('close-search')" required="" name="search" class="form-control form-control-lg py-2 border-right-0 border" placeholder="Search for products">
                                <span class="input-group-append">
                                    <button class="btn btn-outline-secondary border-left-0 border" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </form>

                            <form v-if="searchPageUrl === ''" v-on:submit.prevent class="input-group" _lpchecked="1">
                                <input type="text" autocomplete="off" v-model="searchQuery" autofocus v-on:input="search()" v-on:keyup.escape="$emit('close-search')" required="" name="search" class="form-control form-control-lg py-2 border-right-0 border" placeholder="Search for products">
                                <span class="input-group-append">
                                    <button class="btn btn-outline-secondary border-left-0 border" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </form>

                            <div>
                                <ul class="list-group" v-show="searchResult.length !== 0 || suggestions.length !== 0">
                                    <li v-for="suggestion in suggestions" class="list-group-item" v-on:click="searchQuery = suggestion;search()">
                                        <span class="img">
                                        </span>
                                        <span class="stext-info">
                                            <span class="h4 p-3 ng-binding">{{suggestion}}</span>
                                        </span>
                                    </li>
                                    <li v-for="product in searchResult" class="list-group-item">
                                        <a class="nav-link" v-bind:href="product.Url">
                                            <span class="img">
                                                <img height="50" width="50" v-bind:src="product.ThumbnailImageUrl" alt="">
                                            </span>
                                            <span class="text-info">
                                                <span class="h3 p-3">{{product.Name}}</span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>

                                <a v-show="searchPageUrl !== ''" v-bind:href="searchPageHref()" class="btn btn-block">Show all results</a>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-offset-3">

                    </div>
                </div>
            </search>
        </div>
    </header>
</div>