@model Ucommerce.Sitefinity.UI.Mvc.ViewModels.MiniBasketRenderingViewModel
@{
    Layout = null;
    var emptyClass = Model.IsEmpty ? null : "display:none;";
    var notEmptyClass = !Model.IsEmpty ? null : "display:none;";
}
<div data-refresh-url="@Model.RefreshUrl" data-mini-basket-empty-selector=".js-mini-basket-empty" data-mini-basket-not-empty-selector=".js-mini-basket-not-empty" data-mini-basket-number-of-items-selector=".js-mini-basket-number-of-items" data-mini-basket-total-selector=".js-mini-basket-total">
    <div style="@emptyClass" class=" @emptyClass">
        <div>
            <ul>
                <li>
                    <div>Your basket is empty</div>
                </li>
            </ul>
        </div>
    </div>

    <div style="@notEmptyClass" class="@notEmptyClass">
        <div>
            <ul>
                <li>
                    <div>
                        <a href="@Model.CartPageUrl">
                            <span>&#128722;</span><span>@Model.NumberOfItems</span> item(s): <span>@Model.Total</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

@*<div class="js-mini-basket pull-xs-right hide-on-large-screen margin-right-small" data-refresh-url="@Model.RefreshUrl" data-mini-basket-empty-selector=".js-mini-basket-empty" data-mini-basket-not-empty-selector=".js-mini-basket-not-empty" data-mini-basket-number-of-items-selector=".js-mini-basket-number-of-items" data-mini-basket-total-selector=".js-mini-basket-total">
    <a href="@Model.CartPageUrl">
        <i class="fa fa-shopping-cart margin-right-small" aria-hidden="true"></i>
        <span class="items-in-minicart js-mini-basket-number-of-items">
            @Model.NumberOfItems
        </span>
    </a>

</div>*@
