@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
@model Ucommerce.Sitefinity.UI.Mvc.ViewModels.PaymentPickerViewModel
@{
    Layout = null;
}
@using (Html.BeginFormSitefinity("CreatePayment", "PaymentPicker", FormMethod.Post))
{
    <legend>Payment method</legend>
    if (@Model.AvailablePaymentMethods.Count > 0)
    {
        foreach (var paymentMethod in @Model.AvailablePaymentMethods)
        {
            <label class="radio">
                @if (paymentMethod.Selected)
                {
                    @Html.RadioButtonFor(x => x.SelectedPaymentMethodId, paymentMethod.Value, new { @checked = "checked", @class = "js-payment-picker" })
                    @paymentMethod.Text
                }
                else
                {
                    @Html.RadioButtonFor(x => x.SelectedPaymentMethodId, paymentMethod.Value, new { @class = "js-payment-picker" })
                    @paymentMethod.Text
                }
            </label>
        }
        <div class="control-group">
            <div class="col-md-6 no-padding-col">
                @{
                    var showBackButton = true;

                    if (Model.NextStepUrl == "")
                    {
                        showBackButton = false;
                    }
                }
                <a href="@Model.PreviousStepUrl" type="submit" class="btn btn-secondary btn-default btn-full-width pull-left" style="@(showBackButton ? "display:block" : "display:none")">Back</a>
            </div>
            <div class="col-md-6 no-padding-col">
                @{
                    var showContinueButton = true;

                    if (Model.NextStepUrl == "")
                    {
                        showContinueButton = false;
                    }
                }
                <input type="submit" class="btn btn-success btn-full-width pull-right submit-address" style="@(showContinueButton ? "display:block" : "display:none")" value="Continue to next step" />
            </div>
        </div>
    }
    else
    {
        <p class="alert">
            WARNING: No payment methods have been configured for @Model.ShippingCountry within <a href="http://ucommerce.dk">UCommerce</a> administration area.
        </p>
    }
}