@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;

@model Ucommerce.Sitefinity.UI.Mvc.ViewModels.OrderOverviewViewModel


@if (Model.OrderLines.Count == 0)
{
    <div class="alert alert-info">
        <p>Your cart is empty. Please <a href="/">return to our store and add some items</a>.</p>
    </div>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped cart">
            <thead>
                <tr>
                    <th class="span3">Description</th>
                    <th class="span1 money">Price</th>
                    <th class="span1 money">VAT</th>
                    <th class="span1">Quantity</th>
                    <th class="span1 money">Total</th>
                    <th class="span05"></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.OrderLines.Count; i++)
                {
                    var line = Model.OrderLines[i];
                    <tr class="order-line" data-orderline="@line.OrderLineId">
                        @Html.HiddenFor(model => model.OrderLines[i].Sku)
                        @Html.HiddenFor(model => model.OrderLines[i].VariantSku)
                        @Html.HiddenFor(model => model.OrderLines[i].OrderLineId)

                        <td><a href="@line.ProductUrl">@line.ProductName</a></td>
                        <td class="money">
                            @if (@line.Discount.HasValue && @line.Discount > 0)
                            {
                                <span style="text-decoration: line-through" data-price>
                                    @line.Price
                                </span>
                                <span data-price-with-discount>
                                    @line.PriceWithDiscount
                                </span>
                            }
                            else
                            {
                                <span data-price>
                                    @line.Price
                                </span>

                            }
                        </td>
                        <td class="money" data-tax>
                            @line.Tax
                        </td>
                        <td>
                            @line.Quantity
                        </td>
                        <td class="money item-total">
                            @line.Total
                        </td>
                    </tr>
                }
                <tr>
                    <td rowspan="4" colspan="3" class="white-background">
                    </td>
                    <td colspan="1">Sub total:</td>
                    <td class="money order-subtotal">
                        @Model.SubTotal
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="1">VAT:</td>
                    <td class="money order-tax">
                        @Model.TaxTotal
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="1">Discounts:</td>
                    <td class="money order-discounts">
                        @Model.DiscountTotal
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="1">Order total:</td>
                    <td class="money order-total">
                        @Model.OrderTotal
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>


        <div class="control-group margin-top">
            <div class="controls">
                @{
                    var showContinueButton = true;

                    if (Model.NextStepUrl == "")
                    {
                        showContinueButton = false;
                    }

                }
                <a href="@Model.NextStepUrl"><button style="@(showContinueButton ? "display:block" : "display:none")" type="button" class="btn btn-success pull-right" name="review-product">Continue</button></a>
            </div>
        </div>
    </div>
}
