@model Ucommerce.Sitefinity.UI.Mvc.ViewModels.ProductListViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Services
@using Ucommerce.Sitefinity.UI.Mvc.ViewModels

@{
    ViewBag.Title = "Products";
}

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

<link href="~/ResourcePackages/Bootstrap4/assets/dist/css/main.min.css" rel="stylesheet" />

<div class="container" data-component="products" id="@Html.UniqueId("product-list")" v-cloak>
    <div class="row">
        <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
            <em class="h5 p-1">@Model.TotalCount products</em>
        </div>
    </div>
    <div class="row">
        <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
            <div class="p-1">
                @if (Model.ShowPager)
                {
                    @Html.Action("Index", "ContentPager", new
                    {
                       currentPage = Model.CurrentPage,
                       totalPagesCount = Model.TotalPagesCount.Value,
                       redirectUrlTemplate = Model.PagingUrlTemplate
                    })
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card-group">
                <div class="row">
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-sx-12 col-sm-6 col-md-4 col-lg-4 p-3">
                            <div class="card h-100">
                                <div class="card-body">

                                    <a title="@product.DisplayName" href="@product.ProductUrl">
                                        <img title="Top 100 Digital Agencies" class="card-img-top img-thumbnail" src="@product.ThumbnailImageMediaUrl" alt="@product.DisplayName">
                                    </a>

                                    <h2 class="card-title">
                                        <a class="card-link text-info" href="@product.ProductUrl">@product.DisplayName</a>
                                    </h2>
                                    <div class="card-footer">
                                        <div>
                                            <div class="card-text"></div>
                                            <div>
                                                <span class="h5">@product.Price</span>
                                            </div>
                                            <Basket :product-sku="'@product.Sku'"></Basket>
                                            <div>
                                                <a href="#" class="card-link text-info h5" onclick="return false;">Write a review</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
            <em class="h5 p-1">@Model.TotalCount products</em>
        </div>
    </div>
    <div class="row">
        <div class="col-sx-12 col-sm-12 col-md-12 col-lg-12">
            <div class="m-1">
                @if (Model.ShowPager)
                {
                    @Html.Action("Index", "ContentPager", new
                    {
                        currentPage = Model.CurrentPage,
                        totalPagesCount = Model.TotalPagesCount.Value,
                        redirectUrlTemplate = Model.PagingUrlTemplate
                    })
                }
            </div>
        </div>
    </div>
</div>

<style>
    [v-cloak] {
        display: none
    }
</style>
