@model Ucommerce.Sitefinity.UI.Mvc.ViewModels.ProductDetailViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Services;

@Html.StyleSheet(Url.WidgetContent("assets/src/css/vanilla.css"), "head")

@if (Model != null)
{
    if (!SystemManager.IsDesignMode)
    {
        @Html.Script(Url.WidgetContent("assets/dist/javascript/moment.min.js"), "head", false)
        @Html.Script(Url.WidgetContent("assets/dist/javascript/angular.min.js"), "head", false)
        @Html.Script(Url.WidgetContent("assets/dist/javascript/app.js"), "head", false)
    }




    <div>
        <a href="@Model.PrimaryImageMediaUrl" rel="fancybox">
            <img src="@Model.PrimaryImageMediaUrl" />
        </a>
    </div>

    @if (Model.Variants.Any())
    {
        <ul>
            @foreach (var variant in Model.Variants)
            {
                if (!string.IsNullOrEmpty(variant.PrimaryImageMediaUrl))
                {
                    <li>
                        <a href="@variant.PrimaryImageMediaUrl" rel="fancybox">
                            <img src="@variant.PrimaryImageMediaUrl" />
                        </a>
                    </li>
                }
            }
        </ul>
    }


    <div>
        <h1>
            @Model.DisplayName
        </h1>
        <div>

            @*Beggining of Write review link section*@
            <div>
                <a href="#" onclick="return false;">Write a review</a>
            </div>
            @*End of Write review link section*@
            <div>
                <span>@Model.Price</span>
                <p>Discount:</p>
                <span>@Model.Discount</span>
            </div>
        </div>
        <div>
            @Model.ShortDescription
        </div>

        <div>
            Availability:
            @if (Model.AllowOrdering)
            {
                <span>In stock</span>
            }
            else
            {
                <span>Out of stock</span>
            }
        </div>


        @*Beggining of Add to cart section*@
        <div>

            <div>

            </div>
            <div>
                <label for="ctl00_contentPlaceholder_C020_productsFrontendDetail_ctl00_ctl00_SingleItemContainer_ctrl0_addToCartWidget_ctl00_ctl00_quantity">Quantity:</label>
                <span id="ctl00_contentPlaceholder_C020_productsFrontendDetail_ctl00_ctl00_SingleItemContainer_ctrl0_addToCartWidget_ctl00_ctl00_quantityRequiredFieldValidator" style="display:none;">
                    <span>
                        When adding product to a cart you must specify the quantity
                    </span>
                </span>
                <span id="ctl00_contentPlaceholder_C020_productsFrontendDetail_ctl00_ctl00_SingleItemContainer_ctrl0_addToCartWidget_ctl00_ctl00_quantityValidator" style="display:none;">
                    <span>
                        The quantity must be greater than 0 and less than 9,999.
                    </span>
                </span>
                <input name="ctl00$contentPlaceholder$C020$productsFrontendDetail$ctl00$ctl00$SingleItemContainer$ctrl0$addToCartWidget$ctl00$ctl00$quantity" type="text" value="1" id="ctl00_contentPlaceholder_C020_productsFrontendDetail_ctl00_ctl00_SingleItemContainer_ctrl0_addToCartWidget_ctl00_ctl00_quantity" />

                <input type="submit" name="ctl00$contentPlaceholder$C020$productsFrontendDetail$ctl00$ctl00$SingleItemContainer$ctrl0$addToCartWidget$ctl00$ctl00$addToCartButton" value="Add to cart" onclick="return false;" id="ctl00_contentPlaceholder_C020_productsFrontendDetail_ctl00_ctl00_SingleItemContainer_ctrl0_addToCartWidget_ctl00_ctl00_addToCartButton" />
            </div>
        </div>

        @*End of Add to cart section *@

        @*Beggining of Add to wishlist section *@


        <div>
            <a href="#" onclick="return false;">add to wish list</a>
        </div>
        <div style="display: none; ">

        </div>

    </div>

    @*End of Add to wishlist section *@

    @*Beggining of Write review section*@

    <div>
        <span></span>
        <div>
            <div>
                <div></div>
                <a href="#" onclick="return false;">Write a review</a>
            </div>
        </div>
    </div>

    @*End of Write review section*@




    if (!SystemManager.IsDesignMode)
    {
        @Html.Script(Url.WidgetContent("assets/dist/javascript/Services/BasketService.js"), "bottom", false)
        @Html.Script(Url.WidgetContent("assets/dist/javascript/Services/SearchService.js"), "bottom", false)
        @Html.Script(Url.WidgetContent("assets/dist/javascript/Services/ProductService.js"), "bottom", false)
        @Html.Script(Url.WidgetContent("assets/dist/javascript/mainController.js"), "bottom", false)
        @Html.Script(Url.WidgetContent("assets/dist/javascript/factory.js"), "bottom", false)
    }
}
