@model Ucommerce.Sitefinity.UI.Mvc.ViewModels.ProductDetailViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Services;

@Html.StyleSheet(Url.WidgetContent("assets/src/css/uc-vue-styles.css"), "head")

@if (Model != null)
{
    if (!SystemManager.IsDesignMode)
    {
        @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
        @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
        @Html.Script(Url.Content("~/bundles/ucommerce-js"), "bottom")
    }

    <div data-component="products" id="@Html.UniqueId("products")" v-cloak>
        <div>
            <a href="@Model.PrimaryImageMediaUrl" rel="fancybox">
                <img src="@Model.PrimaryImageMediaUrl" />
            </a>
        </div>

        @if (Model.Variants.Any())
        {
            <ul>
                @foreach (var variant in Model.Variants)
                {
                    if (!string.IsNullOrEmpty(variant.PrimaryImageMediaUrl))
                    {
                        <li>
                            <a href="@variant.PrimaryImageMediaUrl" rel="fancybox">
                                <img src="@variant.PrimaryImageMediaUrl" />
                            </a>
                        </li>
                    }
                }
            </ul>
        }


        <div>
            <h1>
                @Model.DisplayName
            </h1>
            <div>

                @*Beggining of Write review link section*@
                <div>
                    <a href="#" onclick="return false;">Write a review</a>
                </div>
                @*End of Write review link section*@
                <div>
                    <span>@Model.Price</span>
                    <p>Discount:</p>
                    <span>@Model.Discount</span>
                </div>
            </div>
            <div>
                @Model.ShortDescription
            </div>

            <div>
                Availability:
                @if (Model.AllowOrdering)
                {
                    <span>In stock</span>
                                    }
                                    else
                                    {
                                        <span>Out of stock</span>
                                                        }
            </div>
            <div>
                @{
                    var uniqueVariants = from v in Model.Variants.SelectMany(p => p.ProductProperties)
                                         where v.ProductDefinitionField.DisplayOnSite
                                         group v by v.ProductDefinitionField into g
                                         select g;
                    if (uniqueVariants.Any())
                    {
                        <fieldset>
                            @foreach (var prop in uniqueVariants)
                            {
                                var controlName = string.Format("variation-{0}", prop.Key.Name.ToLower());
                                <div>
                                    <label for="@controlName">@prop.Key.GetDisplayName()</label>
                                    <span>
                                        <select v-model="variantSku" name="@controlName" id="@controlName">
                                            @{
                                                var products = prop.GroupBy(p => p.Value).Select(g => g.First()).ToList();
                                            }
                                            <option>Please select ...</option>
                                            @foreach (var product in products)
                                            {
                                                <option value="@product.Product.VariantSku">@product.Value</option>
                                            }
                                        </select>
                                    </span>
                                </div>
                            }
                        </fieldset>
                    }
                }
            </div>

            @*Beggining of Add to cart section*@
            <div>

                @foreach (var route in Model.Routes)
                {
                    <input type="hidden" class="@route.Key" value="@route.Value" />
                }

                <add-to-basket :product-sku="'@Model.Sku'" :root-id="$el.id" :variant-sku="variantSku">
                </add-to-basket>
            </div>

            @*End of Add to cart section *@

            @*Beggining of Add to wishlist section *@


            <div>
                <a href="#" onclick="return false;">add to wish list</a>
            </div>
            <div style="display: none; ">

            </div>

        </div>

        @*End of Add to wishlist section *@

        @*Beggining of Write review section*@

        <div>
            <a href="#" onclick="return false;">Write a review</a>
        </div>

        @*End of Write review section*@
    </div>

    <script type="text/x-template" id="add-to-basket-template">
        <div>
            <spanQuantity:</span>
            <span id="ctl00_contentPlaceholder_C020_productsFrontendDetail_ctl00_ctl00_SingleItemContainer_ctrl0_addToCartWidget_ctl00_ctl00_quantityRequiredFieldValidator" style="display:none;">
                <span>
                    When adding product to a cart you must specify the quantity
                </span>
            </span>
            <span id="ctl00_contentPlaceholder_C020_productsFrontendDetail_ctl00_ctl00_SingleItemContainer_ctrl0_addToCartWidget_ctl00_ctl00_quantityValidator" style="display:none;">
                <span>
                    The quantity must be greater than 0 and less than 9,999.
                </span>
            </span>
            <input title="Product Quantity" id="productQuantityInput" v-model="quantity" name="ctl00$contentPlaceholder$C020$productsFrontendDetail$ctl00$ctl00$SingleItemContainer$ctrl0$addToCartWidget$ctl00$ctl00$quantity" type="text" />

            <input type="submit" title="Add to cart button" name="ctl00$contentPlaceholder$C020$productsFrontendDetail$ctl00$ctl00$SingleItemContainer$ctrl0$addToCartWidget$ctl00$ctl00$addToCartButton" value="Add to cart" v-on:click="addToBasket()" id="ctl00_contentPlaceholder_C020_productsFrontendDetail_ctl00_ctl00_SingleItemContainer_ctrl0_addToCartWidget_ctl00_ctl00_addToCartButton" />
            <span v-show="showAddToBasketMessage">{{addToBasketMessage}}</span>
        </div>
    </script>

}
