@model Ucommerce.Sitefinity.UI.Mvc.ViewModels.ProductListViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Services
@using Ucommerce.Sitefinity.UI.Mvc.ViewModels

@{
    ViewBag.Title = "Products";
}

@Html.StyleSheet(Url.WidgetContent("assets/src/css/uc-vue-styles.css"), "head")

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

<div data-component="products" id="@Html.UniqueId("product-list")" v-cloak>
    <div>
        <em>@Model.TotalCount products</em>
    </div>

    @if (Model.ShowPager)
    {
        @Html.Action("Index", "ContentPager", new
        {
           currentPage = Model.CurrentPage,
           totalPagesCount = Model.TotalPagesCount.Value,
           redirectUrlTemplate = Model.PagingUrlTemplate
        })
    }

    @foreach (var route in Model.Routes)
    {
        <input type="hidden" class="@route.Key" value="@route.Value" />
    }
    <ul>
        @foreach (var product in Model.Products)
        {
            <li>
                <a title="@product.DisplayName" href="@product.ProductUrl">
                    <img title="Top 100 Digital Agencies" src="@product.ThumbnailImageMediaUrl" alt="@product.DisplayName">
                </a>

                <a href="@product.ProductUrl">@product.DisplayName</a>

                <div>
                    <span>@product.Price</span>
                    <p>Discount:</p>
                    <span>@product.Discount</span>
                </div>

                <add-to-basket :product-sku="'@product.Sku'" :root-id="$el.id" inline-template>
                    <div class="mt-2">
                        <span class="font-weight-bold">Quantity:</span>
                        <span id="ctl00_contentPlaceholder_C020_productsFrontendDetail_ctl00_ctl00_SingleItemContainer_ctrl0_addToCartWidget_ctl00_ctl00_quantityRequiredFieldValidator" style="display:none;">
                            <span class="text-danger">
                                When adding product to a cart you must specify the quantity
                            </span>
                        </span>
                        <span id="ctl00_contentPlaceholder_C020_productsFrontendDetail_ctl00_ctl00_SingleItemContainer_ctrl0_addToCartWidget_ctl00_ctl00_quantityValidator" style="display:none;">
                            <span class="text-danger">
                                The quantity must be greater than 0 and less than 9,999.
                            </span>
                        </span>
                        <input title="Product Quantity" id="productQuantityInput" v-model="quantity" name="ctl00$contentPlaceholder$C020$productsFrontendDetail$ctl00$ctl00$SingleItemContainer$ctrl0$addToCartWidget$ctl00$ctl00$quantity" type="text" class="form-control" />

                        <input type="submit" title="Add to cart button" name="ctl00$contentPlaceholder$C020$productsFrontendDetail$ctl00$ctl00$SingleItemContainer$ctrl0$addToCartWidget$ctl00$ctl00$addToCartButton" value="Add to cart" v-on:click="addToBasket()" id="ctl00_contentPlaceholder_C020_productsFrontendDetail_ctl00_ctl00_SingleItemContainer_ctrl0_addToCartWidget_ctl00_ctl00_addToCartButton" class="btn btn-info mt-2" />
                        <span class="text-success pl-2 pt-1 position-absolute" v-show="showAddToBasketMessage">{{addToBasketMessage}}</span>
                    </div>
                </add-to-basket>

                <div>
                    <a href="#" onclick="return false;">Write a review</a>
                </div>
            </li>
        }
    </ul>

    <div>
        <em>@Model.TotalCount products</em>
    </div>
    @if (Model.ShowPager)
    {
        @Html.Action("Index", "ContentPager", new
        {
            currentPage = Model.CurrentPage,
            totalPagesCount = Model.TotalPagesCount.Value,
            redirectUrlTemplate = Model.PagingUrlTemplate
        })
    }
</div>
