@model Ucommerce.Sitefinity.UI.Mvc.ViewModels.ProductListViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Services
@using Ucommerce.Sitefinity.UI.Mvc.ViewModels

@{
    ViewBag.Title = "Products";
}

@Html.StyleSheet(Url.WidgetContent("assets/src/css/uc-vue-styles.css"), "head")

<div>
    <em>@Model.TotalCount products</em>
</div>

@if (Model.ShowPager)
{
    @Html.Action("Index", "ContentPager", new
    {
       currentPage = Model.CurrentPage,
       totalPagesCount = Model.TotalPagesCount.Value,
       redirectUrlTemplate = Model.PagingUrlTemplate
    })
}
<ul>
    @foreach (var product in Model.Products)
    {
        <li>
            <a title="@product.DisplayName" href="@product.ProductUrl">
                <img title="Top 100 Digital Agencies" src="@product.ThumbnailImageMediaUrl" alt="@product.DisplayName">
            </a>

            <a href="@product.ProductUrl">@product.DisplayName</a>

            <div>
                <span>@product.Price</span>
                <p>Discount:</p>
                <span>@product.Discount</span>
            </div>
            <div>
                <a href="#" onclick="return false;">Write a review</a>
            </div>
        </li>
    }
</ul>

<div>
    <em>@Model.TotalCount products</em>
</div>
@if (Model.ShowPager)
{
    @Html.Action("Index", "ContentPager", new
    {
        currentPage = Model.CurrentPage,
        totalPagesCount = Model.TotalPagesCount.Value,
        redirectUrlTemplate = Model.PagingUrlTemplate
    })
}


