@model Ucommerce.Sitefinity.UI.Mvc.ViewModels.ProductListViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Services
@using Ucommerce.Sitefinity.UI.Mvc.ViewModels

@{
    ViewBag.Title = "Products";
}

@Html.StyleSheet(Url.WidgetContent("assets/src/css/uc-vue-styles.css"), "head")
@Html.StyleSheet(Url.WidgetContent("assets/src/css/uc-quantum.css"), "head")

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}
<div data-component="products" id="@Html.UniqueId("product-list")" v-cloak>
    <div class="sfCatalogTotalCount">
        <div>
            <em>@Model.TotalCount products</em>
        </div>
    </div>
    @if (Model.ShowPager)
    {
        @Html.Action("Index", "ContentPager", new
        {
           currentPage = Model.CurrentPage,
           totalPagesCount = Model.TotalPagesCount.Value,
           redirectUrlTemplate = Model.PagingUrlTemplate
        })
    }

    @foreach (var route in Model.Routes)
    {
        <input type="hidden" class="@route.Key" value="@route.Value" />
    }

    <ul class="sfproductsList">
        @foreach (var product in Model.Products)
        {
            <li class="sfproductListItem sfProductCtnTmbmedium">
                <div class="sfproductTmbWrp">
                    <a title="@product.DisplayName" class=" sfProductTmbWrpmedium" href="@product.ProductUrl">
                        <img title="Top 100 Digital Agencies" src="@product.ThumbnailImageMediaUrl" alt="@product.DisplayName">
                    </a>
                </div>
                <h2 class="sfproductTitle">
                    <a class="sfproductTitleLnk" href="@product.ProductUrl">@product.DisplayName</a>
                </h2>
                <div class="sfproductPrice bottomPrice">
                    <div>
                        <div class="sfTxtContent"></div>
                        <div>
                            <span class="sfRegPrice">@product.Price</span>
                            <p class="paragraph-top">Discount:</p>
                            <span class="sfDiscPrice">@product.Discount</span>
                        </div>

                        <basket :product-sku="'@product.Sku'"></basket>

                        <div class="sfcommentsThreadRatingWrp sfcommentsThreadRatingFull sfRatingReadOnly">
                            <a href="#" class="sfRatingClosingText" onclick="return false;">Write a review</a>
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
    <div class="product-list-paging">
        <div class="sfCatalogTotalCount">
            <div>
                <em>@Model.TotalCount products</em>
            </div>
        </div>
        @if (Model.ShowPager)
        {
            @Html.Action("Index", "ContentPager", new
            {
                currentPage = Model.CurrentPage,
                totalPagesCount = Model.TotalPagesCount.Value,
                redirectUrlTemplate = Model.PagingUrlTemplate
            })
        }
    </div>
</div>
