@model Ucommerce.Sitefinity.UI.Mvc.ViewModels.ProductDetailViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Services;

@Html.StyleSheet(Url.WidgetContent("assets/src/css/uc-vue-styles.css"), "head")
@Html.StyleSheet(Url.WidgetContent("assets/src/css/uc-quantum.css"), "head")

@if (Model != null)
{
    if (!SystemManager.IsDesignMode)
    {
        @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
        @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
    }

    <div class="sf_cols" data-component="products" id="@Html.UniqueId("products")"  v-cloak>
        <div class="sf_colsOut sf_1col_1_100">
            <div class="sf_colsIn sf_1col_1in_100" style="margin: 0px 20px 0px 0px;">
                <div>
                    <div class="sfproductDetailsWrp">
                        <div class="sfproductDetails sfClearfix">

                            <div>
                                <div id="productImgsWrp" class="sfproductImgsWrp">
                                    <div>
                                        <div class="sfproductMainImgWrp">
                                            <a href="@Model.PrimaryImageMediaUrl" rel="fancybox" class=" sfProductTmbWrplarge">
                                                <img src="@Model.PrimaryImageMediaUrl" />
                                            </a>
                                        </div>

                                        <div class="sfproductImgsListWrp">
                                            @if (Model.Variants.Any())
                                            {
                                                <ul class="sfproductImgsList">
                                                    @foreach (var variant in Model.Variants)
                                                    {
                                                        if (!string.IsNullOrEmpty(variant.PrimaryImageMediaUrl))
                                                        {
                                                            <li class="sfproductImgWrp">
                                                                <a href="@variant.PrimaryImageMediaUrl" rel="fancybox" class="sfproductImgLnk sfProductTmbWrpthumbnail">
                                                                    <img class="sfproductImg" src="@variant.PrimaryImageMediaUrl" />
                                                                </a>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="sfproductInfoWrp">
                                <h1 class="sfproductTitle">
                                    @Model.DisplayName
                                </h1>
                                <div class="sfproductPrice">

                                    @*Beggining of Write review link section*@
                                    <div class="sfcommentsThreadRatingWrp sfcommentsThreadRatingFull sfRatingReadOnly">
                                        <div class="sfStarsWrapper"></div>
                                        <a href="#" onclick="return false;" class="sfRatingClosingText">Write a review</a>
                                    </div>
                                    @*End of Write review link section*@

                                    <div>
                                        <div>
                                            <span class="sfRegPrice">@Model.Price</span>
                                            <p class="paragraph-top">Discount:</p>
                                            <span class="sfDiscPrice">@Model.Discount</span>
                                        </div>
                                    </div>
                                </div>

                                <br />

                                <div class="sfproductDescription">
                                    @Model.ShortDescription
                                </div>

                                <br />

                                <div class="sfproductInventory">
                                    <div>
                                        <div>
                                            <div class="sfProductInventoryWrp">
                                                Availability:
                                                @if (Model.AllowOrdering)
                                                {
                                                    <span class="sfProductInStock">In stock</span>
                                                }
                                                else
                                                {
                                                    <span class="sfProductOutOfStock">Out of stock</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*Beggining of Add to cart section*@
                                <div class="sfAddToCartWidget">
                                    <div class="sfAddToCartWrp">
                                        <div>

                                            <div class="sfMessage sfTopMsg">

                                            </div>

                                            <Basket :product-sku="'@Model.Sku'"></Basket>

                                        </div>

                                    </div>
                                </div>
                                @*End of Add to cart section *@

                                @*Beggining of Add to wishlist section *@
                                <div class="sfAddToWishlistWidget">
                                    <div>
                                        <div>
                                            <div>

                                                <div class="sfAddToWishListLnkWrp"> <a class="sfAddToWishListLnk" href="#" onclick="return false;">add to wish list</a></div>
                                                <div class="sfMessage" style="display: none; ">

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*End of Add to wishlist section *@

                                @*Beggining of Write review section*@
                                <div class="sfProductComments">
                                    <div>
                                        <span></span>
                                        <div id="commentsWidget" class="sfcommentsWrp">
                                            <div class="sfcommentsThreadRatingWrp sfcommentsThreadRatingFull sfRatingReadOnly">
                                                <div class="sfStarsWrapper"></div>
                                                <a href="#" onclick="return false;" class="sfRatingClosingText">Write a review</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*End of Write review section*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
