@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Web;
@using Newtonsoft.Json;

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

@{
    Layout = null;
    string pageNodeUrl = SiteMapBase.GetActualCurrentNode().Url.ToString();
    string currentPageUrl = UrlPath.ResolveUrl(pageNodeUrl, true, true);
}

<div class="section-margin " data-component="checkout-overview" id="checkout-overview">
    <script type="application/json" purl="true">
        { "purl" : @Html.Raw(JsonConvert.SerializeObject(currentPageUrl)) }
    </script>
    <template v-if="model">
        <div>
            <div>
                <h3>@Html.Resource("BillingAddress", "UcommerceResources")</h3>
                <br />
                <address>
                    <span><strong>{{ model.BillingAddressDTO.FirstName }} {{ model.BillingAddressDTO.LastName }}</strong></span><br>
                    <span>{{ model.BillingAddressDTO.Line1 }}<br></span>
                    <span>{{ model.BillingAddressDTO.PostalCode }} {{ model.BillingAddressDTO.City }}</span><br>
                    <span>{{ model.BillingAddressDTO.CountryName }}</span>
                    <span v-if="model.BillingAddressDTO.Attention"><text>att. </text> {{ model.BillingAddressDTO.Attention }}</span>
                    <br>
                    <span><abbr title="@Html.Resource("Phone", "UcommerceResources")">P:</abbr>{{ model.BillingAddressDTO.PhoneNumber }}</span><br>
                    <span><abbr title="@Html.Resource("Mobile", "UcommerceResources")">M:</abbr>{{ model.BillingAddressDTO.MobilePhoneNumber }} </span><br>
                    <span><abbr title="@Html.Resource("Email", "UcommerceResources")">E:</abbr><a :href="'mailto:' + model.BillingAddressDTO.EmailAddress">{{ model.BillingAddressDTO.EmailAddress }}</a></span>
                </address>
            </div>
            <div>
                <h3>@Html.Resource("ShippingAddress", "UcommerceResources")</h3>
                <br />
                <address>
                    <span><strong>{{ model.ShipmentAddressDTO.FirstName }} {{ model.ShipmentAddressDTO.LastName }}</strong></span><br>
                    <span>{{ model.ShipmentAddressDTO.CompanyName }}</span>
                    <span v-if="model.ShipmentAddressDTO.Attention"><text>att. </text> {{ model.ShipmentAddressDTO.Attention }} </span>
                    <br />
                    <span>{{ model.ShipmentAddressDTO.Line1 }}</span><br>
                    <span>{{ model.ShipmentAddressDTO.PostalCode }} {{ model.ShipmentAddressDTO.City }}</span><br>
                    <span>{{ model.ShipmentAddressDTO.CountryName }}</span><br>
                    <span><abbr title="@Html.Resource("Phone", "UcommerceResources")">P:</abbr>{{ model.ShipmentAddressDTO.PhoneNumber }}</span><br>
                    <span><abbr title="@Html.Resource("Mobile", "UcommerceResources")">M:</abbr>{{ model.ShipmentAddressDTO.MobilePhoneNumber }}</span><br>
                    <span><abbr title="@Html.Resource("Email", "UcommerceResources")">E:</abbr><a href="'mailto:' + model.ShipmentAddressDTO.EmailAddress">{{ model.ShipmentAddressDTO.EmailAddress }}</a></span>
                </address>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>@Html.Resource("ItemNo", "UcommerceResources")</th>
                    <th>@Html.Resource("Description", "UcommerceResources")</th>
                    <th>@Html.Resource("Price", "UcommerceResources")</th>
                    <th>@Html.Resource("VAT", "UcommerceResources")</th>
                    <th>@Html.Resource("Quantity", "UcommerceResources")</th>
                    <th>@Html.Resource("Total", "UcommerceResources")</th>
                </tr>
            </thead>
            <tbody>
                <template v-for="lineItem in model.OrderLines">
                    <tr>
                        <td>{{ lineItem.Sku }}</td>
                        <td>{{ lineItem.ProductName }}</td>
                        <td>
                            <template v-if="lineItem.Discount.HasValue && lineItem.Discount > 0">
                                <span>
                                    {{ lineItem.Price }}
                                </span>
                                {{ lineItem.PriceWithDiscount }}
                            </template>
                            <template v-else>
                                {{ lineItem.Price }}
                            </template>
                        </td>
                        <td>{{ lineItem.Tax }}</td>
                        <td>{{ lineItem.Quantity }}</td>
                        <td>{{ lineItem.Total }}</td>
                    </tr>
                </template>
                <tr>
                    <td rowspan="@ViewBag.RowSpan" colspan="2"></td>
                    <td colspan="3">@Html.Resource("SubTotal", "UcommerceResources"): </td>
                    <td>
                        {{ model.SubTotal }}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">@Html.Resource("VAT", "UcommerceResources"): </td>
                    <td>
                        {{ model.TaxTotal }}
                    </td>
                </tr>
                <template v-if="model.DiscountAmount != 0">
                    <tr>
                        <td colspan="3">@Html.Resource("OrderDiscounts", "UcommerceResources"): </td>
                        <td>-{{ model.DiscountTotal }}</td>
                    </tr>
                </template>
                <template v-if="model.ShipmentAmount != 0">
                    <tr>
                        <td colspan="3">
                            @Html.Resource("Shipping", "UcommerceResources")
                            <text> (via {{ model.ShipmentName }})</text>
                        </td>
                        <td>{{ model.ShippingTotal }}</td>
                    </tr>
                </template>
                <template v-if="model.PaymentAmount != 0">
                    <tr>
                        <td colspan="3">
                            @Html.Resource("Payment", "UcommerceResources")
                            <text> ({{ model.PaymentName }})</text>
                        </td>
                        <td>{{ model.PaymentTotal }}</td>
                    </tr>
                </template>
                <tr>
                    <td colspan="3">@Html.Resource("OrderTotal", "UcommerceResources"): </td>
                    <td>{{ model.OrderTotal }}</td>
                </tr>
            </tbody>
        </table>
        <checkout-navigation v-bind:model="model"
                             continue-label="@Html.Resource("CompleteOrder", "UcommerceResources")"
                             back-label="@Html.Resource("BackButton", "UcommerceResources")"
                             :continue-fn="continueFn"
                             classes=""></checkout-navigation>
    </template>
</div>
