@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;

@model Ucommerce.Sitefinity.UI.Mvc.ViewModels.CartRenderingViewModel

@if (Model.OrderLines.Count == 0)
{
    <div class="alert alert-info">
        <p>Your cart is empty. Please <a href="/">return to our store and add some items</a>.</p>
    </div>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped cart">
            <thead>
                <tr>
                    <th class="span3">Description</th>
                    <th class="span1 money">Price</th>
                    <th class="span1 money">VAT</th>
                    <th class="span1">Quantity</th>
                    <th class="span1 money">Total</th>
                    <th class="span05"></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.OrderLines.Count; i++)
                {
                    var line = Model.OrderLines[i];
                    <tr class="order-line" data-orderline="@line.OrderLineId">

                        @Html.HiddenFor(model => model.OrderLines[i].Sku)
                        @Html.HiddenFor(model => model.OrderLines[i].VariantSku)
                        @Html.HiddenFor(model => model.OrderLines[i].OrderLineId)

                        <td><a href="@line.ProductUrl">@line.ProductName</a></td>
                        <td class="money">
                            @if (@line.Discount.HasValue && @line.Discount > 0)
                            {
                                <span style="text-decoration: line-through" data-price>
                                    @line.Price
                                </span>
                                <span data-price-with-discount>
                                    @line.PriceWithDiscount
                                </span>
                            }
                            else
                            {
                                <span data-price>
                                    @line.Price
                                </span>

                            }
                        </td>
                        <td class="money" data-tax>
                            @line.Tax
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.OrderLines[i].Quantity, new { @class = "qty form-control inline-block no-padding", data_orderline_id = @Model.OrderLines[i].OrderLineId, data_orderline_qty = @Model.OrderLines[i].Quantity })
                            <button name="update-basket" class="btn-none inline-block update-basket js-update-basket" data-remove-orderline-url="@Model.RemoveOrderlineUrl" data-refresh-url="@Model.RefreshUrl" data-cart-container=".cart-container" data-item-total=".item-total" data-line-remove=".line-remove" data-order-subtotal=".order-subtotal" data-order-tax=".order-tax" data-order-discounts=".order-discounts" data-order-total=".order-total" data-basket="@Model" type="submit">
                                <i class="fa fa-refresh" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td class="money item-total">
                            @line.Total
                        </td>
                        <td>
                            <button type="button" data-line-id="@line.OrderLineId" name="RemoveOrderlineId" class="line-remove">×</button>
                        </td>
                    </tr>
                }
                <tr>
                    <td rowspan="4" colspan="3" class="white-background">
                    </td>
                    <td colspan="1">Sub total:</td>
                    <td class="money order-subtotal">
                        @Model.SubTotal
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="1">VAT:</td>
                    <td class="money order-tax">
                        @Model.TaxTotal
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="1">Discounts:</td>
                    <td class="money order-discounts">
                        @Model.DiscountTotal
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="1">Order total:</td>
                    <td class="money order-total">
                        @Model.OrderTotal
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>


        <div class="control-group margin-top">
            <div class="controls">
                <a href="/address"><button type="button" class="btn btn-success pull-right" name="review-product">Continue</button></a>
            </div>
        </div>
    </div>
}
